* {
  font-family: JetBrains Mono;
  background: transparent;
}

window {
  background: rgba(24, 22, 22, 0.96);
  border: 2px solid #a9b1d6;
}

#input { 
  /*border-radius: 15px;*/
  border: 1px solid #a9b1d6;
  border-bottom: 0px;
  box-shadow: none;
}

#img {
  margin-right: 6px;
}

#entry {
  color: #a9b1d6;
}

#entry:selected {
  background-color: #c4746e;
  color: #414868;
}

#text {
  margin: 2px;
}
